body {
    background-color: rgb(171, 124, 70);
}

header {
    background: #000000;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    margin: 20px;
    background: #fefefe;
    border-radius: 8px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about,
.services,
.gallery,
.contact {
    margin-top: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.gallery-images img {
    width: 23%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(169, 103, 32);
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact input,
.contact textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #fffbfb;
    border-radius: 5px;
}

.contact button {
    background: #ff0000;
    color: #ff0000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #000000;
    color: #f60b0bcd;
}

footer p {
    margin: 0;
}

.Kontakts {
    background-color: rgb(253, 253, 253) (242, 255, 0);
}

.Spele{
background-color: aquamarine;
width: 400px;
border: 2px solid crimson; 

.Pakalpojumi{
    
}




}

